################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KanbanRestService.slnx/FileContentIndex/0ca596d9-011d-45a8-b3ce-c6a0696f3a42.vsidx
