################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KanbanRestService.slnx/FileContentIndex/0ca596d9-011d-45a8-b3ce-c6a0696f3a42.vsidx
/.vs/KanbanRestService.slnx/FileContentIndex/76b0113e-9b8a-480f-9e59-03d2dfe4b321.vsidx
/.vs/KanbanRestService.slnx/FileContentIndex/941a27a5-d518-4e54-9d7e-f514083fe526.vsidx
/.vs/KanbanRestService.slnx/FileContentIndex/f0903dd7-19d6-459d-8748-d5f4d1819566.vsidx
*.vsidx
